// Styling for the masthead
#about {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-position: center top;
  background-attachment: fixed;
  background-image: url('../img/team1.jpg');
  background-size: cover;

  .text-shadow {
    text-shadow: 2px 2px 4px #000;
  }

  hr {
    &.light {
        box-shadow: 2px 2px 2px #000;
    }
  }
}
