
span {
  .hover {
    border: 10px solid red!important;
    background-size: contain;
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('../img/icons/javascript.png');


    &.J {
      content: url('../img/icons/javascript.png');
      position: absolute;
      top: 0;
      left: 0;
      height: 40px;
      width: 40px;
      display: block;
    }

    &.H {
      border: 10px solid blue !important;
    }

    &.C {
      border: 10px solid green !important;
    }

    &.V {
      border: 10px solid orange !important;
    }
  }
}
